/* When having conflicting rulesets, the ID selector takes precedence over the others */
/* A ruleset is comprised of a selector and a declaration block */
/* Notation for specificity, e.g. 1,2,2 indicates specificity of one ID, two classes and two tags */
/* Don't use IDs nor !important (there can be exceptions in some rare cases)*/
h1 {
  color: #2f4f4f;
  margin-bottom: 10px;
}

.nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

.nav li {
  display: inline-block;
  margin-right: 5px;
}

.nav a {
  color: white;
  background-color: #13a4a4;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

a.featured {
  background-color: orange;
}
